* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

:root{
	--tamano-leter:14px;
}

body {
	font-family: 'Indie Flower', cursive;
	background-size: cover; 
	color: #fff;
	font-size: var(--tamano-leter);
}

.wrap {
	width: 90%;
	max-width: 1000px;
}

.widget {
	width: 40%;
	margin: 1em;
}

.widget div {
	display: inline-block;
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.3125rem;
	background: rgba(0,0,0,.5);
	padding: 10px;
	width: 280px;
}

.reloj {
	font-size: 2em;
	text-align: center;
	background: rgba(0,0,0,.5);
}

.reloj .caja-segundos {
	display: inline-block;
}




